{% extends "main/base.html" %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block title %}Inicio{% endblock title %}

{% block css %}
    <style>
        #hero {
            width: 100%;
            height: 75vh;
            background: url("{{banner.image.url}}") top left;
            background-size: cover;
            position: relative;
          }
        #hero:before {
            content: "";
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
          }
          @media (min-width: 1024px) {
            #hero {
              background-attachment: fixed;
            }
          }
		  .testimonials {
			padding: 80px 0;
			background: url("{% static 'img/testimonials-bg.jpg' %}") no-repeat;
			background-position: center center;
			background-size: cover;
			position: relative;
		  }
    </style>
{% endblock css %}

{% block maincontent %}
    {% if banner %}
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center" >
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1>{{banner.title}}</h1>
                <h2>{{banner.subtitle}}</h2>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started scrollto">Nosotros</a>
                    {% if banner.youtube_video %}<a href="{{banner.youtube_video}}" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Ver Video</span></a>{% endif %}
                </div>
            </div>
        </section><!-- End Hero -->    
    {% endif %}
	
	<main id="main">
		{% if about_us %}
			<!-- ======= About Section ======= -->
			<section id="about" class="about section-bg">
				<div class="container" data-aos="fade-up">
				  <div class="section-title">
					<h2>Nosotros</h2>
					<h3>Aprende mas sobre <span>Nosotros</span></h3>
					<p>{{about_us.subtitle}}</p>
				  </div>
			
				  <div class="row">
					<div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
					  <img src="{{about_us.image.url}}" class="img-fluid" alt="Error en carga de imagen">
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
					  <h3>{{about_us.title}}</h3>
					  {% autoescape off %}{{about_us.content}}{% endautoescape %}
					</div>
				  </div>
				</div>
			</section><!-- End About Section -->
		{% endif %}

		{% if services %}
    		<!-- ======= Services Section ======= -->
    		<section id="services" class="services">
    		  	<div class="container" data-aos="fade-up">

    		  	  <div class="section-title">
    		  	  	<h2>Servicios</h2>
    		  	    	<h3>Explora nuestros <span>Servicios</span></h3>
    		  	  </div>
    		  	  <div class="row">
					{% for service in services %}
						<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
							<div class="icon-box">
							  <div class="icon"><i class="bx bx-file"></i></div>
							  <h4><a href="{% url 'service_detail' service.slug %}">{{service.name}}</a></h4>
							  <p>{{service.short_description}}</p>
							</div>
						</div>
					{% endfor %}
    		  	  </div>
    		  	</div>
    		</section><!-- End Services Section -->
		{% endif %}

		{% if about_us.mision %}
			<section id="testimonials" class="testimonials">
				<div class="container" data-aos="zoom-in">
				
				  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
					<div class="swiper-wrapper">
					
					  <div class="swiper-slide">
						<div class="testimonial-item">
						  <h3>Misión</h3>
						  <p>
							<i class="bx bxs-quote-alt-left quote-icon-left"></i>
								{{about_us.mision}}
							<i class="bx bxs-quote-alt-right quote-icon-right"></i>
						  </p>
						</div>
					  </div><!-- End testimonial item -->
					  
					  <div class="swiper-slide">
						<div class="testimonial-item">
						  <h3>Visión</h3>
						  <p>
							<i class="bx bxs-quote-alt-left quote-icon-left"></i>
								{{about_us.vision}}
							<i class="bx bxs-quote-alt-right quote-icon-right"></i>
						  </p>
						</div>
					  </div><!-- End testimonial item -->
					</div>
					<div class="swiper-pagination"></div>
				  </div>
			  
				</div>
			</section><!-- End Testimonials Section -->
		{% endif %}

		{% if team_members %}
			<!-- ======= Team Section ======= -->
			<section id="team" class="team section-bg">
				<div class="container" data-aos="fade-up">
				
				  <div class="section-title">
					<h2>Equipo</h2>
					<h3>Conoce a nuestros <span>Directivos</span></h3>
				  </div>
				  <div class="row">
					{% for team_member in team_members %}
						<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
							<div class="member">
							  <div class="member-img">
								<img src="{{team_member.image.url}}" class="img-fluid" alt="">
								<div class="social">
									{% for social in team_member.team_member_socials.all %}
										{% if social.name == 'TW' %}
											<a href="{{social.url}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
										{% endif %}
										{% if social.name == 'FB' %}
											<a href="{{social.url}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
										{% endif %}
										{% if social.name == 'IN' %}
											<a href="{{social.url}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
										{% endif %}
										{% if social.name == 'LI' %}
											<a href="{{social.url}}" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
										{% endif %}	
									{% endfor %}
								</div>
							  </div>
							  <div class="member-info">
								<h4>{{team_member.name}}</h4>
								<span>{{team_member.position}}</span>
							  </div>
							</div>
						</div>
					{% endfor %}
				  </div>
				</div>
			</section><!-- End Team Section -->
		{% endif %}
	</main>

{% endblock maincontent %}